.carousel-inner>.carousel-item>img, .carousel-inner>.carousel-item>a>img {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    margin:auto;
    width: 100%;
    height: 35%;
}

.background-gradient {
    background-color: rgba(0, 0, 0, 0.65);
}

.carrousel-link {
    color: white;
}

.carrousel-link:hover {
    text-decoration: none;
}