<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">New Book</h1>
    <div class="col-6 offset-3">

        <form action="/book" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="isbn">ISBN</label>
                <input class="form-control" type="text" name="isbn" id="isbn">
            </div>

            <div class="mb-3">
                <label class="form-label" for="titulo">Titulo do livro</label>
                <input class="form-control" type="text" name="titulo" id="titulo">
            </div>

            <div class="mb-3">
                <label class="form-label" for="autor">Nome do autor</label>
                <input class="form-control" type="text" name="autor" id="autor">
            </div>

            <div class="mb-3">
                <label class="form-label" for="idioma">Idioma</label>
                <input class="form-control" type="text" name="idioma" id="idioma">
            </div>

            <div class="mb-3">
                <label class="form-label" for="descricao">descricao</label>
                <input class="form-control" type="text" name="descricao" id="descricao">
            </div>

            <div class="mb-3">
                <label class="form-label" for="preco">Preco</label>
                <input class="form-control" type="number" name="preco" id="preco">
            </div>

            <div class="mb-3">
                <label class="form-label" for="quantidade">Quantidade</label>
                <input class="form-control" type="number" name="quantidade" id="quantidade">
            </div>

            <div class="mb-3">
                <label class="form-label" for="id_editora">ID Editora</label>
                <input class="form-control" type="number" name="id_editora" id="id_editora">
            </div>

            <div class="mb-3">
                <label class="form-label" for="capa">Select a image:</label>
                <input class="form-control" type="file" name="capa" id="capa" accept="image/*">
            </div>
           
            <div class="mb-3">
                <button class="btn btn-success" type="submit">Add Book</button>
            </div>

        </form>

        <a href="/books">Cancel</a>

    </div>
</div>