<% layout('layouts/boilerplate') %>

<h1>Your orders</h1>

<% for(let order of orders) { %> 

    <div class="card mb-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <p class="card-text">Quantidade de livros: <%= order.quantidade %> </p>
                    <p class="card-text">Valor total: $<%= order.valor_total %> </p>
                    <p class="card-text">Situacao do pagamento: <%= order.situacao %> </p>

                    <a href="/pedido/<%=order.cod_pedido%>" class="btn btn-primary">Vizualizar Pedido%></a>
                </div>
            </div>
        </div>
    </div>
<% } %>