<% layout('layouts/boilerplate') %>

<h1>Todas editoras</h1>

<% for(let publisher of publishers) { %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <h4 class="card-title"> <%= publisher.nome_editora %> </h4>
                    <p class="card-text"> <%= publisher.cnpj %> </p>

                    <a href="/editoras/<%= publisher.id_editora %>" class="btn btn-primary">View publisher books</a>
                </div>
            </div>
        </div>
    </div>
<% } %>